.paginationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .paginationButton {
    background-color: #ccc;
    color: #333;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0 5px; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .paginationButton:hover {
    background-color: #999;
    color: #fff;
  }
  