article {

    h1 {
        margin: 20px 0;
        font-family: "Dancing Script", cursive;
        font-weight: 700;
        color: rgb(0 27 94 / 1);
        font-size: 2.5rem;
        line-height: 3rem;
        padding: 30px 0 2px;
        text-transform: capitalize;
    }

    .article {
        .blog {
            transform: scale(1);
            margin: 30px 0;
            border: 1px solid #d0caca;
            min-height: 200px;
            display: flex;
            gap: 40px;
            justify-content: space-between;
            background: #fff;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
            /* box-shadow: 0 2px 10px rgba(0, 0, 0, .1); */
            padding: 20px;
            border-radius: 10px;

            p {
                width: 30%;
            }

            .imageContainer {
                width: 30%;
                overflow: hidden;
                border-radius: 5px;
                height: auto;
            }

            .articleContent {
                height: 100%;
                width: 70%;

                h3 {
                    font-size: 1.7rem;
                    letter-spacing: .025em;
                    font-weight: 700;
                    text-transform: capitalize;
                    color: rgb(49, 41, 41);
                    margin: 20px 0;
                   
                }

                p {
                    width: 100%;
                    font-size: .8rem;
                    letter-spacing: .025em;
                    /* font-weight: 700; */
                    text-transform: capitalize;
                    margin-bottom: 10px;
                }

                a {
                    color: black;
                }
            }
        }

    
    }

    .pagination {
        list-style: none;
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
}

@media (width<768px) {
    article {

        h1 {
            font-size: 40px;
        }

        .article {
            .blog {

                flex-direction: column;

                p {
                    width: 100%;
                }
            
                .articleContent {
                    width: 100%;
                    h3 {
                        font-size: 1.05rem;
                        letter-spacing: .025em;
                        font-weight: 700;
                        text-transform: capitalize;
                        color: rgb(49, 41, 41);
                        margin: 20px 0;
                       
                    }
                }
                .imageContainer {
                    width: 100%;
                }
            }
        }

      

        .pagination {
            list-style: none;
            display: flex;
            gap: 20px;
            justify-content: center;
            align-items: center;
        }
    }

}