.single {
    .navigation {
        img {
            width: 20px;
            height: 20px;
        }
    }

    .clock {
        color: #acacb4;
        margin-bottom: 30px;
    }

    .details {
        width: 100%;
        min-height: 400px;
        display: grid;
        place-items: center;
        border-radius: 10px;

        .image_container {
            display: inline-block;
            text-align: end;
            width: 50%;
            border-radius: 20px;
            overflow: hidden;
        }

        img {
            width: 100%;
            height: 300px;
        }

        .articlesss {
            text-align: center;
            h1 {
                font-size: 40px;
                box-shadow: 0 0 #0000;
                color: #fff;
                margin: 10px 0;
              
                font-weight: 900;
            }

            .paragraph {
                box-shadow: 0 0 #0000;
                color: #fff;
                margin: 5px 0;
            }

            .author {
                box-shadow: 0 0 #0000;
                color: #fff;
            }
        }

    }

    .content {
        margin: 20px 0 0;

        p {

            font-size: 14px;
            font-weight: 400;
            line-height: 3;
            letter-spacing: 2.5;
        }

    }
}



@media (width<=768px) {

    .single {
        .navigation {
            img {
                width: 25px;
                height: 25px;
            }
        }

        .clock {
            color: #acacb4;
            margin-bottom: 30px;
        }

        .details {
            min-height: 150px;

            .image_container {
                display: inline-block;
                text-align: end;
                width: 100%;
                border-radius: 20px;
                overflow: hidden;
            }

            img {
                width: 100%;
                height: 200px;
            }

            .articlesss {
                h1 {
                    font-size: 20px;
            
                    margin: 10px 0;
                }

                p {
                    margin: 5px 0;

                }

                .author {
                    color: #acacb4;
                }
            }

        }

        .content {
            margin: 20px 0 0;

            p {
                font-size: 14px;
                font-weight: 400;
                line-height: 3;
                letter-spacing: 2.5;
            }

        }
    }











}