.main {
    display: grid;
    height: 100vh;
    place-items: center;

    .port {
        .home {
            font-size: calc(4rem + 1vw);
            text-align: center;
        }

        h3 {
            text-align: center;

        }

        p {
            margin-top: 30px;
            font-size: calc(15px + 0.5vw);
            letter-spacing: 2px;
            line-height: 1.5;
            text-align: center;
        }

        .cv {
            margin-top: 10px;

            text-align: center;

            button {
                width: 200px;
                height: 50px;
                border: none;
                border-radius: 10px;
                color: #fff;
                background-color: #007bff;
                cursor: pointer;
                font-size: 16px;
            }
        }
    }
}


@media (width <=500px) {
    .section {
      margin: 200px 0;
    }
  }
  
  .banner {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 50px;
    justify-content: space-around;
  
  }
  
  @media (width <=620px) {
    .banner {
      text-align: center;
      flex-direction: column-reverse;
      justify-content: center;
    }
  }
  
  
  
  .banner h2 {
    white-space: nowrap;
    margin: 0 0 4px;
    font-size: 40px;
    color: rgb(255 255 255 / 96%);
  }
  
  .banner h3 {
    font-weight: 400;
    margin: 0;
    color: rgb(255 255 255 / 57%);
  }
  
  @keyframes morph {
  
    0%,
    100% {
      border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }
  
    34% {
      border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
  
    67% {
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
  }
  
  .banner img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    animation: morph 3.5s linear infinite;
  }
@media (min-width: 769px) {
    .main {
        .port {
            .home {
                font-size: 3rem;
            }

            p {

                font-size: 14px;
            }
        }
    }
}

@media (max-width: 768px) {
    .main {
        .port {
            .home {
                font-size: 20px;
            }

            p {

                font-size: 10px;
            }
        }
    }
}